<!------------ MENU ----------->

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-4 col-md-4 col-lg-4 col-xl-4">
      <a routerLink="/meilleures" routerLinkActive="active-menu" class=" text-decoration-none courgette c-menu"><h3 class="courgette" i18n="@@meilleures">Meilleures ventes</h3>
      </a></div>
    <div class="col-xs-4 col-4 col-md-4 col-lg-4 col-xl-4">
      <a routerLink="/nouveautes" routerLinkActive="active-menu" class=" text-decoration-none courgette c-menu"><h3 class="courgette" i18n="@@nouveaute">Nouveauté</h3>
      </a></div>
    <div class="col-xs-4 col-4 col-md-4 col-lg-4 col-xl-4">
      <a routerLink="/bons" routerLinkActive="active-menu" class=" text-decoration-none courgette c-menu"><h3 class="courgette" i18n="@@bons">Bons Plan</h3>
      </a></div>
  </div>
</div>

<!-----------END MENU ---------->



<!---------- Cards ----------->


<router-outlet></router-outlet>


<!---------- title ---------->

<div class="container mt-5">

  <div class="univers-title">
    <h2 class="courgette mx-auto" i18n="@@communaute">Communauté Zinabel</h2>
  </div>

</div>


<!---------- END title --------->

<!--------- Communaute  --------->

<div class="container">
  <div class="mt-5">
    <div class="row">

      <div class="card col-md-4 col-12 col-xs-12 col-lg-4 mx-auto">
        <img class="card-img-top img-fluid" src="../assets/img/m1.jpg" alt="">
      </div>

      <div class="card col-md-4 col-12 col-xs-12 col-lg-4 my-2 my-md-0 my-xs-2 mx-auto">
        <img class="card-img-top img-fluid" src="../assets/img/m1.jpg" alt="">
      </div>

      <div class="card col-md-4 col-12 col-xs-12 col-lg-4 mx-auto">
        <img class="card-img-top img-fluid" src="../assets/img/m1.jpg" alt="">
      </div>
    </div>
  </div>
  <button type="button"
    class="btn btn-zinabel col-md-4 col-xs-10 col-sm-12 col-lg-3 offset-md-9 offset-xs-1 mt-6 mb-7" i18n="@@btnsuivez">Suivez-nous sur Instagram</button>
</div>

<!--------- END Communaute  --------->
