<!---------- univers-title --------->

<div class="container mt-5">

  <div class="univers-title">
    <h2 class=" courgette mx-auto" i18n="@@insp">Inspirations & look</h2>
  </div>

</div>

<!---------- END  univers-title --------->



<!---------- inspiration cards ----------->

<div class="cards-b">
  <div class="cards-box position-relative">

    <div class="container">
      <div class="row">

        <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="img-box my-3 img-fluid">
            <img class="card-img-top" src="../assets/img/m4.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title text-left" i18n="@@lina" [ngClass]="lang ? 'text-right' : 'text-left'">Lina</h4>
            <h6><i class="fa fa-instagram mr-2" aria-hidden="true"></i>@lina</h6>
          </div>
        </div>

        <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="img-box my-3 img-fluid">
            <img class="card-img-top" src="../assets/img/m3.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title" i18n="@@amira" [ngClass]="lang ? 'text-right' : 'text-left'">Amira</h4>
            <h6><i class="fa fa-instagram mr-2" aria-hidden="true"></i>@amira</h6>
          </div>
        </div>

        <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="img-box my-3 img-fluid">
            <img class="card-img-top" src="../assets/img/m2.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title" i18n="@@ali" [ngClass]="lang ? 'text-right' : 'text-left'">Ali</h4>
            <h6><i class="fa fa-instagram mr-2" aria-hidden="true"></i>@ali</h6>
          </div>
        </div>

        <div class="card col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="img-box my-3 img-fluid">
            <img class="card-img-top" src="../assets/img/m1.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title" i18n="@@samia" [ngClass]="lang ? 'text-right' : 'text-left'">Samia</h4>
            <h6><i class="fa fa-instagram mr-2" aria-hidden="true"></i>@samo</h6>
          </div>
        </div>


        <a class="carousel-control-prev d-none d-md-block d-lg-block d-xl-block" style="top: 11rem;"
          href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
        </a>
        <a class="carousel-control-next d-none d-md-block d-lg-block d-xl-block" style="top: 11rem;"
          href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
        </a>

      </div>

    </div>
  </div>
</div>

<!----------End inspiration cards ----------->

<!------------- cards ------------->
<div class="promotion">
  <div class="container">
    <div style="margin: 10% 0%;">
      <div class="row">
        <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" [ngClass]="lang ? 'text-right' : 'text-left'">
          <div class="img-box"><img class="card-img-top img-fluid" src="../assets/img/c3.png" alt=""
              style="height: 97%;width: auto;margin: 10px;"></div>
          <div class="card-body">
            <h4 class="card-title courgette" i18n="@@cadeaux">Cadeaux</h4>
            <p class="card-text" i18n="@@cadeauxDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deserunt veritatis aliquam quod neque consequatur animi eius impedit obcaecati exercitationem qui.</p>
          </div>
        </div>
        <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" [ngClass]="lang ? 'text-right' : 'text-left'">
          <div class="img-box"><img class="card-img-top img-fluid" src="../assets/img/c4.png" alt="" style="height: 100%; width: auto;"></div>
          <div class="card-body">
            <h4 class="card-title courgette" i18n="@@boxZinabel">Box Zinabel</h4>
            <p class="card-text" i18n="@@boxDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Deleniti eum ratione exercitationem nisi nostrum quisquam nihil rem fuga maiores adipisci.</p>
          </div>
        </div>
        <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" [ngClass]="lang ? 'text-right' : 'text-left'">
          <div class="img-box"><img class="card-img-top img-fluid" src="../assets/img/c2.png" alt=""
              style="height: 125%;position: relative;width: auto;top: -14%;"></div>
          <div class="card-body">
            <h4 class="card-title courgette" i18n="@@promotion">Promotions</h4>
            <p class="card-text" i18n="@@promotionDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Odit nostrum, consequatur cumque provident ad aliquam! Veniam sunt quaerat atque provident!</p>
          </div>
        </div>
        <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" [ngClass]="lang ? 'text-right' : 'text-left'">
          <div class="img-box"><img class="card-img-top img-fluid" src="../assets/img/c1.png" alt=""
              style="height: 98%;width: auto;"></div>
          <div class="card-body">
            <h4 class="card-title courgette" i18n="@@makeUp">Make Up Vr</h4>
            <p class="card-text" i18n="@@makeUpDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Alias ad sapiente odit dignissimos, doloribus illo necessitatibus soluta error consequatur perspiciatis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-----------End cards ------------->
