<div class="header-box">

    <!------------ navbar --------------->

    <nav class="navbar-expand-lg navbar-light bg-light" >
      <div class="navbar-collapse order-3 order-sm-2 collapse navbar bg-light" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@shop">
              SHOP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@nouveautes">
              NOUVEAUTES
            </a>
            <div class="dropdown-menu mega-menu shadow" aria-labelledby="navbarDropdownMenuLink">
              <div class="row">
                <div class="col-md">
                  <h5 class="color-drop font-weight-bold">Maquillage</h5>
                  <p class="drop font-weight-bold color-drop">Teint</p>
                  <p><a class="drop text-decoration-none" href="#">Fond de teint</a></p>
                  <p><a class="drop text-decoration-none" href="#">Correcteur / Anti-cernes</a></p>
                  <p><a class="drop text-decoration-none" href="#">Poudre</a></p>
                  <p><a class="drop text-decoration-none" href="#">BB Cream / CC Cream</a></p>
                  <p><a class="drop text-decoration-none" href="#">Highliters</a></p>
                  <p><a class="drop text-decoration-none" href="#">Primer</a></p>
                  <p><a class="drop text-decoration-none" href="#">Blush</a></p>
                  <p><a class="drop text-decoration-none" href="#">Contour</a></p>
                  <p><a class="drop text-decoration-none" href="#">Face palettes</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                  <p class="drop font-weight-bold color-drop">Lèvres</p>
                  <p><a class="drop text-decoration-none" href="#">Rouges à lèvres</a></p>
                  <p><a class="drop text-decoration-none" href="#">Gloss</a></p>
                  <p><a class="drop text-decoration-none" href="#">Contour des lèvres</a></p>
                  <p><a class="drop text-decoration-none" href="#">Lip primer</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                  <p class="drop font-weight-bold color-drop">Yeux</p>
                  <p><a class="drop text-decoration-none" href="#">Fard à paupières</a></p>
                  <p><a class="drop text-decoration-none" href="#">Mascara</a></p>
                  <p><a class="drop text-decoration-none" href="#">Sourcilles</a></p>
                  <p><a class="drop text-decoration-none" href="#">Eyeliner</a></p>
                  <p><a class="drop text-decoration-none" href="#">Eye shadow primer</a></p>
                  <p><a class="drop text-decoration-none" href="#">Palettes yeux</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                </div>
                <div class="col-md">
                  <h5 class="color-drop font-weight-bold">Soin de la peau</h5>
                  <p class="drop font-weight-bold color-drop">Soin du Visage</p>
                  <p><a class="drop text-decoration-none" href="#">Crème de jour</a></p>
                  <p><a class="drop text-decoration-none" href="#">Soin de nuit</a></p>
                  <p><a class="drop text-decoration-none" href="#">Sérum Visage</a></p>
                  <p><a class="drop text-decoration-none" href="#">Soin contour des yeux</a></p>
                  <p><a class="drop text-decoration-none" href="#">Masque visage</a></p>
                  <p><a class="drop text-decoration-none" href="#">Démaquillant yeux visage</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                </div>
                <div class="col-md">
                  <h5 class="color-drop font-weight-bold">Cheveux</h5>
                  <p class="drop font-weight-bold color-drop">Soin de cheveux</p>
                  <p><a class="drop text-decoration-none" href="#">Shampoing</a></p>
                  <p><a class="drop text-decoration-none" href="#">démêlant</a></p>
                  <p><a class="drop text-decoration-none" href="#">masque cheveux</a></p>
                  <p><a class="drop text-decoration-none" href="#">Huiles cheveux</a></p>
                  <p><a class="drop text-decoration-none" href="#">Sérums</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                </div>
                <div class="col-md">
                  <h5 class="color-drop font-weight-bold">Cheveux</h5>
                  <p><a class="drop text-decoration-none" href="#">Vernis à ongles</a></p>
                  <p><a class="drop text-decoration-none" href="#">Soin des ongles</a></p>
                  <p><a class="drop text-decoration-none" href="#">Top coat</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                </div>
                <div class="col-md">
                  <h5 class="color-drop font-weight-bold">Parfums</h5>
                  <p><a class="drop text-decoration-none" href="#">Homme</a></p>
                  <p><a class="drop text-decoration-none" href="#">Femme</a></p>
                  <p><a class="drop text-decoration-none font-weight-bold" href="#">Best Sellers</a></p>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@bonsPlans">
              BONS PLANS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@marques">
              MARQUES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@service">
              SERVICE PERSONALISE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@navCommunaute">
              COMMUNAUTE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown flex-row">
            <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="@@happening">
              HAPPENING IN STORE
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <!--------- laoding page ---------->
    <!-- <main>

      <div class="img-box">
        <img src="../assets/img/PHOTO.jpg" class="d-block w-100 img-size" alt="...">
      </div>
    </main>
  </div>


  <div class="slide-text">
    <h1 class="text-uppercase courgette" i18n="@@slideTitle">Lorem ipsum</h1>
    <p class="mb-5 text-lowercase" i18n="@@slideDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <a href="#" class="btn-conx text-decoration-none" I18n="@@slideConnexion">Connexion</a>
  </div> -->


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/PHOTO.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/PHOTO.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/PHOTO.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
    
  


